body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu{
    width: 220px;
}

body.vertical-layout.vertical-menu-modern.menu-expanded .navbar .navbar-header{
    width: 220px;
}

body.vertical-layout.vertical-menu-modern.menu-expanded .content, body.vertical-layout.vertical-menu-modern.menu-expanded .footer{
    margin-left: 220px;
}
.samllform .card-body{
    padding: 1.0rem !important;
}
div.required > label:before {
    content: " * ";
    color: #FF586B;
}

.has-error .form-control {
    color: #FF9149;
    border-color: #FF9149;
}


.has-error .input-group-text{
    color: #FF9149;
    border-color: #FF9149;
}

.has-error .help-block {
    color: #FF9149;
    border-color: #FF9149;
    font-weight: normal;
    font-size: 1rem;
}

.has-error .control-label{
    color: #FF9149;
}



.cust_field{
    margin-bottom: 10px;
}

.form-control:disabled, .form-control[readonly], .input-group-addon{
    background-color: white;
}

.cust-a-link{
    color: #6B6F82;
}
/*.form-control{*/
    /*font-size:.875rem;*/
/*}*/